.container {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}


/* BLOCCO LEZIONI */

/* #lezioni .container>.left,
#lezioni .container>.right {
  tolgo le grandezze che ho rifatto con i col
}  */

#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */

/* #steps .container>.left,
#steps .container>.central,
#steps .container>.right {
/* tolgo il float e le percentuali per la grandezza perche
/* si adatteranno con i col */




#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

/* #why .container>.first,
#why .container>.second,
#why .container>.third {
  margin-top: 80px;
  /* tolgo widht 100% e sostituisco lo spazio con col  */




#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* tolgo nel css il clearfix perche ce l ho nel 12bool per le varie col */
/* .row::after {
  content: '';
  display: table;
  clear: both;
} */

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* .clear {
  clear: both;
} */

/* media quesry per le scritte e immagini */
/*  md e  per intervallo md xs  */

 @media screen and (min-width: 767px) and (max-width: 991px) {
  h1{
  font-size: 60px;
  margin-bottom: 40px;
  }

 #lezioni, #steps, #why, #text{
  font-size: 30px;
 }

 #steps .container>.central{
   padding: 0 10px;
 }

 #lezioni .container>.right{
   padding:0 25px;
 }

 img{
 margin-top: 50px;
 }

}

/* per xs */
@media screen and (max-width: 767px){

  h1{
  font-size: 80px;
  margin-bottom: 40px;
  }

  h3{
    font-size: 60px;
  }

 #lezioni, #steps, #why, #text{
  font-size: 50px;
 }

 img{
 margin-top: 50px;
 }
 #steps, #lezioni{
   padding-left:20px;
 }

}
